::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fff8f0;
}

::-webkit-scrollbar-thumb {
  background: #dc2626;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b91c1c;
}