@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: Inter, Poppins, sans-serif;
  background: #fff8f0;
  color: #1f2937;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}